extends ../layout

block content
    header
        h1 Login de Funcionários
        h4 Bem Vindos
    section
        form(name="login", action="/login", method="post")
            input(type="text", name="username")
            input(type="password", name="password")
            input(type="submit", value="login")
