extends ../layout

block content
    header
        h1 Listagem de Usuários
        a(href="/dashboard", title="Dashboard") Dashboard
        a(href="/users/create", title="Criar") Criar
    section
        div(class="table-responsive")
            table(class="table table-striped")
                thead
                    tr
                        th #
                        th Primeiro Nome
                        th Último Nome
                        th Usuário
                        th Email
                        th Criado em
                        th Actions
                tbody
                    each user, i in users
                        tr
                            td #{user._id}
                            td #{user.first_name}
                            td #{user.last_name}
                            td #{user.username}
                            td #{user.email}
                            td #{user.created}
                            td 
                                a(href="/users/#{user._id}", title="Visualizar") Visualizar
                                a(href="//users/#{user._id}/edit", title="Editar") Editar
                                a(href="/users/#{user._id}", title="Deletar") Deletar
