extends layout

block content
    header
        h1 FrontOffice Backend
        h4 Infelizmente essa pagina não existe =(
    hr
    p 
        Veja os detalhes do erro:
        if error
            p #{error}
    p 
        Vamos 
        a(href="/", title="Voltar") Voltar
    include("footer")
